body {
  background-color: #343434;
  color: white;
  text-align: center;
  width: 95%;
  margin:auto;
}

.mainTitle {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  float: left;
  border: 1px solid grey;
  width: 99.18%;
  box-shadow: 0 0 1px transparent;
}
.secoundaryTitle {
  background-color: dark gray;
  color: white;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  float: left;
  width: 99%;
  box-shadow: 0 0 1px transparent;
}
.aboutBody {
  background-color: dark gray;
  color: white;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  float: left;
  width: 99%;
  box-shadow: 0 0 1px transparent;
}
.menuButton {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  float: left;
  border: 1px solid grey;
  width: 99.18%;
  box-shadow: 0 0 1px transparent;
}
.menuButton:hover {
  background-color: gray;
  color: black;
}
.opener {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 20px;
  cursor: pointer;
  float: left;
  border: 1px solid grey;
  width: 24.79%;
  box-shadow: 0 0 1px transparent;
}
.opener:hover {
  background-color: gray;
  color: black;
}

.teamButton {
  background-color: gray;
  color: black;
  padding-top: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  float: left;
  border: 1px solid black;
  width: 100%;
  height:80px;
  box-shadow: 0 0 1px transparent;
}
.teamButton:hover {
  background-color: black;
  color: white;
}
.topicButton {
  background-color: gray;
  color: black;
  padding-top: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  float: left;
  border: 1px solid black;
  width: 33.33%;
  height:80px;
  box-shadow: 0 0 1px transparent;
}
.topicButton:hover {
  background-color: black;
  color: white;
}

.picButton {
  background-color: gray;
  color: black;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  float: left;
  border: 1px solid black;
  width: 33.33%;
  height:100%;
  box-shadow: 0 0 1px transparent;
}
.picButton:hover {
  background-color: black;
  color: white;
}

.bioButton {
  background-color: gray;
  color: black;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  float: left;
  border: 1px solid black;
  width: 33.33%;
  box-shadow: 0 0 1px transparent;
}
.bioButton:hover {
  background-color: black;
  color: white;
}

.header-background {
  top: 0%;
  left: 0%;
  background-color: black;
  width: 100%;
  height: 158px;
  position: fixed;
  z-index: 5;
}
.mainheader {
  top: 0%;
  left: 0.3%;
	height: 0px;
	position: fixed;
  text-align: center;
	width: 100%;
	z-index: 10;
}
.mainheader nav ul {
	list-style: none;
  margin-top: 0px;
	margin-left: 0px;
  padding-left: 0px;
  height: 100%;
  display: block;
  text-align: center;
}

.mainAltHeader {
	height: 0px;
  text-align: center;
	width: 100%;
	z-index: 10;
}
.mainAltHeader nav ul {
	list-style: none;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  height: 100%;
  display: block;
  text-align: center;
}

/* SLIDESHOW STYLE */

* {box-sizing:border-box}



/* Slideshow container */
/*
.slideshow-container {
  position: absolute;
  max-width: 100%;
  width: auto/9;
  height: 500px;
  max-height: 75%;
  overflow: hidden;  
  margin: auto;
} */

.slideshow-container {
  overflow: hidden;
  margin: auto;
  height: inherit;
  max-height: 650px;
}

.image {
  float: left;
  min-height: 50%;
  min-width: 100%;
  position: fixed; 
  margin: auto;  
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  flex-shrink: 0;
  width: 100%;
  min-height: 100%;
}
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:none;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.fixed-ratio-resize { /* basic responsive img */
  max-width: 100%;
  height: auto;
  width: auto\9; /* IE8 */
}